.vs/*
Discord Bot/bin/Debug/netcoreapp3.1/config.json

Discord Bot/bin/Debug/netcoreapp3.1/img_cache/*

Discord Bot/bin/Debug/netcoreapp3.1/ascension_materials/*
Discord Bot/bin/Debug/netcoreapp3.1/NSFW/*
Discord Bot/bin/Debug/netcoreapp3.1/genshinData.json
Discord Bot/bin/Debug/netcoreapp3.1/eremites_recruit_system/eremites_recruits.json
Discord Bot/bin/Debug/netcoreapp3.1/travel_sumeru/usersDatabase.json
Discord Bot/bin/Debug/netcoreapp3.1/characters/img/nochar_template.png
Discord Bot/bin/Debug/netcoreapp3.1/characters/charactersDatabase.json
Discord Bot/bin/Debug/netcoreapp3.1/characters/akasha_banners/nochar_template.sai2
Discord Bot/bin/Debug/netcoreapp3.1/characters/akasha_banners/nochar_template.png
Discord Bot/bin/Debug/netcoreapp3.1/characters/nochar_template.png
Discord Bot/bin/Debug/netcoreapp3.1/characters/nochar_template.sai2
Discord Bot/obj/Debug/netcoreapp3.1/PublishOutputs.1c54188abd.txt
Discord Bot/obj/Debug/netcoreapp3.1/DiscordBot.csproj.CopyComplete
Discord Bot/Properties/PublishProfiles/FolderProfile.pubxml
