.vs/*
Discord Bot/bin/Debug/netcoreapp3.1/config.json
Discord Bot/bin/Release/netcoreapp3.1/config.json

Discord Bot/bin/Debug/netcoreapp3.1/ascension_materials/*
Discord Bot/bin/Debug/netcoreapp3.1/NSFW/*
Discord Bot/bin/Debug/netcoreapp3.1/NSFW_Genshin/*
Discord Bot/bin/Release/netcoreapp3.1/ascension_materials/*
Discord Bot/bin/Release/netcoreapp3.1/NSFW/*
Discord Bot/bin/Release/netcoreapp3.1/NSFW_Genshin/*
